html,
body {
    margin: 0px;
    font-family: sans-serif;
}

.global-wrapper {
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    /* width: 75%;
    align-self: center; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.header-elements {
    border: 1px #1f2937 solid;
    flex: 2;
    align-self: stretch;
    color: white;
    background-color: #1f2937;
}

.header-spacer {
    border: 1px #1f2937 solid;
    flex: 1;
    background-color: #1f2937;
    align-self: stretch;
    min-height: 75px;
}

.h-logo {
    font-weight: 900;
    font-size: 30px;
    margin: 15px 0px;
}

.header-link-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.signup-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.signup-section h1 {
    font-size: 75px;
    display: flex;
    margin: 0px;
}

.signup-section p {
    margin: 0px;
    font-size: 30px;
    color: gray;
}

.signup-section button {
    margin: 0px;
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    padding: 5px 30px;
}

.header-image {
    min-height: 360px;
    display: flex;
    justify-content: flex-end;
}

.content-panel-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 0px;
}

.cpanel-title {
    gap: 0px;
    margin: 40px;
    font-size: 35px;
}

.content-panels {
    display: flex;
    flex-flow: column wrap;
    max-width: 200px;
    margin: 0px 50px 75px 50px;
}

.content-panels img {
    min-height: 200px;
    min-width: 200px;
    border: 6px #3b82f6 solid;
    margin: 0px;
    border-radius: 25px;
}

.content-panels p {
    text-align: center;
    font-size: 20px;
}

.quote-wrapper {
    display: flex;
    flex-flow: column wrap;
    background-color: #e5e7eb;
    align-items: center;
}

.quote-wrapper h1 {
    margin: 0px;
    font-weight: 100;
    width: 50%;
    font-style: italic;
    font-size: 45px;
    color: #323333;
    margin: 150px 0px 100px 0px;
}

.quote-wrapper p {
    margin: 0px;
    font-style: normal;
    text-align: end;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.call-to-action-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.cta-inner-wrapper {
    background-color: #3b82f6;
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 100px 0px;
    border-radius: 12px;
}

.left-inner-wrapper {
    display: flex;
    flex-flow: column;
    margin: 100px 0px 100px 50px;
}

.left-inner-wrapper h1 {
    margin: 0px;
    color: white;
}

.left-inner-wrapper p {
    margin: 0px;
    color: white;
    font-size: 20px;
}

.cta-inner-wrapper button {
    align-self: center;
    justify-content: center;
    background-color: #3b82f6;
    border: 3px white solid;
    border-radius: 8px;
    padding: 10px 45px;
    color: white;
    font-size: 20px;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 50px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
    font-size: 20px;
}